
  body{
    background-color: rgb(219, 219, 231);
}
div{
    background-color: rgb(242, 245, 247);
    border: 1px solid black;
    padding: 12px;
    width: auto;
    margin: 0 auto;
}
fieldset{
    margin-bottom: 12px; 
}
legend{
    background-color: rgb(31, 212, 62);
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
}




